@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);

body{
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
}